<div class="center">
<p>ユーザー情報</p>
<%= image_tag @user.image.to_s, class: "user_icon center" %><br>
<%= @user.name %><br>
<%= @user.introduction %><br>
<%= link_to "ユーザーを削除する", user_delete_path(@user), method: :delete, data: { confirm: '本当に削除しますか？'} %><br>
</div>