<%=ENV['Maps_JavaScript_API']%>


<div class="map_container">
<div class='map'>
<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox" value="DMM WEBCAMP 難波">

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="Encode" onclick="codeAddress()">
</div>
<div id='map'>
</div>
</div>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/

let map
let geocoder

var marker = [];

var center = [
<% @photos.each do |photos| %>
{
  lat: <%= photos.latitude %>, // 緯度
  lng: <%= photos.longitude %> // 経度
  },
<% end %>
];

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: center[0], // 地図の中心を指定
  zoom: 14
  });


// マーカー毎の処理
for (var i = 0; i < center.length; i++) {
  markerLatLng = new google.maps.LatLng({lat: center[i]['lat'], lng: center[i]['lng']}); // 緯度経度のデータ作成
  marker[i] = new google.maps.Marker({ // マーカーの追加
      position: markerLatLng, // マーカーを立てる位置を指定
      map: map // マーカーを立てる地図を指定
   });
}
}



function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>

<script src= <%= ENV['Maps_JavaScript_URL']%> async defer></script>